In [2]:
x = False
if x:
    print('Ok')
else:
    print('not ok')

not ok

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [6]:
print(*range(1,11,2))

1 3 5 7 9

In [7]:
print(*range(2,5))

2 3 4

In [8]:
for i in [2,3,4]:
    print(i)

2
3
4

In [9]:
type(range(1,11,2))

range

In [11]:
data = list(range(10, -25, -5))
print(data)

[10, 5, 0, -5, -10, -15, -20]

In [18]:
w = (x**2 for x in range(1,11) if x%2==0)

In [19]:
type(w)

generator

In [23]:
x = True
s = 0
while x:
    s += 1
    if s%2 == 0:
        continue
    print(s)
    if s > 10:
        break

1
3
5
7
9
11

In [24]:
def myrange(a,b):
    res = []
    s = a
    while s != b:
        res.append(s)
        s += 1
    return res

In [25]:
myrange(1,5)

[1, 2, 3, 4]

In [27]:
map(sq,[range(11)])

In [30]:
old_list = ['1', '2', '3', '4', '5', '6', '7']
new_list = list(map(int, old_list))
print (new_list)

[1, 2, 3, 4, 5, 6, 7]

In [32]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
sq(5)

25

In [36]:
list(map(sq,range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
l1 = [1,2,3]
l2 = [4,5]
 
new_list = list(map(lambda x,y: x + y, l1, l2))
 
print (new_list)

[5, 7]

In [40]:
list(map(lambda x: x ** 2, range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
a = True

In [42]:
a = 5

In [43]:
a

5